<div class="column two">
    <aside>
        <h2>Announcements</h2>
        <ul>
            <li>
                <em>
                    <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdkh4QOhJ3NNUzS9sZTfeZ8w5HkSSWL_MBSzDxtA-AfhflwKQ/viewform?usp=sf_link">                    
                        <b>Vote on the date/time of the next general meeting</b>
                    </a>
                    <br />
                    In an open forum setup, will be covering club business including an initiative to learn to contribute to open source software together, improving our office, replacing Slack with RiotIM (and replacing other tools the club uses with open source ones), and maintenance of existing club infrastructure.
                </em>
            </li>
        </ul>
        <small>If you have any questions, please contact us <a href="mailto:wsulugadmin@gmail.com">here</a></small>
    </aside>

</div
