<header class="main-header">
    <div class="header-group hgroup guttered padded-bottom short">
        <sup class="sup-header">
            Free as in speech, not as in beer.
        </sup>
        <sub class="sub-header">
            <span class="sub-header-default">
                The Linux Users' Group at WSU
            </span>
        </sub>
    </div>
</header>