<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-svg lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-svg lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-svg lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

<!-- test codeship-->

<head>

	<meta charset="utf-8">
	<title>{{ page.title }}</title>

	<!-- FAVICON -->
	<link rel="shortcut icon" href="https://repo.wsu.edu/spine/1/favicon.ico" />

	<!-- STYLESHEETS -->
	<link href="https://repo.wsu.edu/spine/1/spine.min.css" rel="stylesheet" type="text/css" />
	<!-- Your custom stylesheets here -->
		<link href="css/custom.css" rel="stylesheet" type="text/css" />
	<!-- RESPOND -->
	<meta name="viewport" content="width=device-width, user-scalable=yes">

	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://repo.wsu.edu/spine/1/spine.min.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47259858-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-47259858-1');
	</script>
	
	<!-- COMPATIBILITY -->
	<!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<noscript><style>#spine .spine-sitenav ul ul li { display: block !important; }</style></noscript>

	<!-- DOCS -->
	<link type="text/plain" rel="author" href="https://repo.wsu.edu/spine/1/authors.txt">
	<link type="text/html" rel="help" href="https://brand.wsu.edu">

	<!-- BASE URL -->
	<base href="/1/" />

</head>

<body class="">

	<!-- WRAPPING -->
	<div id="jacket">
		<div id="binder" class="max-1386 hybrid">
			<!-- GRID BEHAVIOR: Default behavior can be changed by changing "hybrid" to "fixed" or "fluid". -->
			<!-- CONTENT -->
			<main class="spine-page-default">
                {% include main-header.html %}
                
				<!-- Responsive Sections -->
				<section class="row side-right gutter pad-bottom tall">
					<div class="column one">
                        {{ content }}
                    </div>
					<!--/column-->

                    {% include announcements.html %}
				</section>
			</main>
			<!-- /CONTENT -->

			<!-- SPINE -->
			<div id="spine" class="spine-column shelved darkest bleed">
				<!-- SPINE COLOR: Available spine colors are crimson, gray, gray-lightest, gray-lightly, gray-lighter, gray-light, gray-dark, gray-darker, gray-darkest. Replace the color class above with your preferred color if you want to override the default. -->
				<!-- SPINE BLEED: Remove "bleed" so that  -->
				<div id="glue" class="spine-glue">

					<header class="spine-header">
						<a href="https://wsu.edu/" id="wsu-signature" class="spine-signature">Washington State
							University</a>
					</header>

					<!-- ACTIONS -->
					<section id="wsu-actions" class="spine-actions">

						<!-- Tabs -->
						<ul id="wsu-actions-tabs" class="spine-actions-tabs clearfix">
							<li id="wsu-search-tab" class="spine-search-tab closed"><button>Search</button></li>
							<li id="wsu-contact-tab" class="spine-contact-tab closed"><button>Contact</button></li>
							<li id="wsu-share-tab" class="spine-share-tab closed"><button>Share</button></li>
						</ul>

						<!-- Actions generated by spine.js end up here -->
					</section>
					<!--/#wsu-actions-->

					<section id="spine-navigation" class="spine-navigation">

						<nav class="spine-sitenav">
                            {% for p in site.pages %}
                                {% if p.url == page.url %}
                                    <li class="current"><a href="{{ p.url }}">{{ p.index_title }}</a></li>                        
                                {% else %}
                                     <li><a href="{{ p.url }}">{{ p.index_title }}</a></li>   
                                {% endif %}
                            {% endfor %}
							<ul>
								<!--
			NAVIGATION: Your navigation list here
			• Active link should be denoted with an "active" or "current" link on the link's parent li element.
			• First link should be a home link (otherwise, in exceptional cases, add "homeless" class to #site nav)
			• Replace example navigation list below -->
						</nav>

						<nav class="spine-offsitenav">
							<ul>
								<li><a href="http://vcea.wsu.edu">Voiland College</a></li>
								<li><a href="http://school.eecs.wsu.edu">EECS</a></li>
							</ul>
						</nav>

					</section><!-- #navigation -->

					<!-- Social and Global Links -->
					<footer class="spine-footer">
					</footer>

				</div>
				<!--/glue-->
			</div>
			<!--/spine-->
			<!-- /SPINE -->

		</div>
		<!--/cover-->
	</div>
	<!--/jacket-->
	<!-- /WRAPPING -->

	<!-- CONTACT INFO: Adjust the sample contact info below to reflect appropriate contact information. -->
	<div id="contact-details" itemscope itemtype="http://schema.org/Organization">
		<span itemprop="department" content="Linux Users' Group"></span>
		<span itemprop="name" content="Washington State University"></span>
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<span itemprop="location" content="Dana 216b"></span>
			<span itemprop="streetAddress"
				content="School of Electrical Engineering and Computer Science, Voiland College of Engineering and Architecture, Washington State University"></span>
			<span itemprop="addressLocality" content="Pullman"></span>
			<span itemprop="addressRegion" content="WA"></span>
			<span itemprop="postalCode" content="99164"></span>
		</div>
		<span itemprop="telephone" content="(509) 335-3564"></span>
		<span itemprop="email" content="wsulugadmin@gmail.com"></span>
		<span itemprop="contactPoint" content="https://lug.wsu.edu"></span>
		<span itemprop="url" content="https://lug.wsu.edu"></span>
	</div>

</body>

</html>
